<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tests</title>
</head>
<body>
  <div id="test-area"></div>
  <%= javascript_include_tag "html/d3" %>
  <%= javascript_include_tag @server.main %>
</body>
</html>
